.welcome {
  background-image: url('./Images/lakebench.jpg');
  background-position: center; /* center top*/
  background-size: cover;
  padding: 25px 0;
  text-shadow: 0 2px white; /*#000000;*/
  font-family: 'Trebuchet MS', 'Helvetica';
}

.welcome h2 {
  margin-bottom: 2em;
  color: black; /*#ffffff;*/
  font-size: 65px; 
}

.welcome p {
  color: black; /*#ffffff;*/
  font-size: 2.5em;
  margin-bottom: 2.5em;
  margin-left: 8em;
  line-height: 35px;
  text-shadow: 0 2px white; /*#000000;*/
}

.welcome .signup {
  display: inline-flex;
  margin-top: 12em;
}

.ContactButtons {
  margin-left: 70px;
}

.SignButtons {
  margin-right: 70px;
}

.icon {
  color: #26A69A; /*darkseagreen;*/
  margin-top: 10px;
  font-size: 22px;
  margin-left: 70px;
}

.logo {
  height: 15px;
}

.SmallNotes {
  float: left;
  margin-left: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
  color: grey;
}

/*.handImage {
  height: 400px;
  position: relative;
  float: right;
}*/

.FirstColumn {
  margin-top: 40px;
  width: 20% !important;
  float: left;
}

.SecondColumn {
  margin-top: 10px;
  width: 70% !important;
  float: right;
}

.MonthFolders {
  margin-top: 20px;
  width: 20% !important;
  float: left;
}

.ExpensesTable {
  margin-top: 10px;
  width: 50% !important;
  float: right;
  margin-right: 90px;
}

.Footer {
  font-size: 0.75em;
  color: grey;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

nav li {
  display: inline;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 1.25em;  
}

nav ul {
  display: inline;
  margin-right: 40px;
}

nav a {
  height: 30px;
  line-height: 30px;
  color: #004D40; /*#204156;*/
  text-decoration: none;
}

nav {
  margin-top: 5px;
}